/* Small Screen */
.container {
    padding: 0.5rem;
    background-color: #F8F9FA;
}

.indonesia {
    margin: 5rem 0;
    text-align: center;
}

.indonesia__title {
    color: #AFAAB9;
    margin-bottom: 1rem;
    font-size: 2.44rem;
}

.indonesia__subtitle {
    color: #B48291;
    margin-bottom: 1rem;
}

.card__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}