/* Small Screen */
.container {
    margin: 1rem;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero__left {
    margin-bottom: 1rem;
}

.hero__title {
    color: #AFAAB9;
    margin-bottom: 1rem;
    font-size: 2.44rem;
}

.hero__subtitle {
    color: #B48291;
    margin-bottom: 1rem;
    font-size: 1.59rem;
}

.hero__description {
    color: #64748b;
    margin-bottom: 1rem;
}

.hero__image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

/* Medium Screen */
@media (min-width: 768px) {
    /*
   * Nothing TODO Here.
   * We dont change style Hero. 
   */
}

/* Large Screen */
@media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 3rem auto;
    }

    .hero {
        margin: 0 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .hero__left {
        flex-basis: 50%;
    }

    .hero__right {
        flex-basis: 50%;
    }
}