.container {
    margin: 1rem;
    flex: 1 1 30%;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.card__body {
    padding: 20px;
}

.card__title {
    margin: 0;
    color: #A5243D;
    font-size: 2rem;
}

.card__value {
    color: #64748b;
    font-size: 1rem;
}