/* Small Screen */
.container {
    background-color: #AFAAB9;
    padding: 1rem;
    color: #fff;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.navbar__brand {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

/* Medium Screen */
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__brand {
        /* margin-bottom: 0; */
        margin: 0;
        margin-left: 1rem;
    }
}

/* Large Screen */
@media (min-width: 992px) {
    /* 
   * Nothing TODO HERE.
   * We haven't styling Navbar.
   */
}